@using WebNet23Online.Models.RockLegendsPortal
@model RockLegendsPortalViewModel

@{
    Layout = "_LayoutRockLegends";
    ViewData["Title"] = "Details";
}

<div class="main-container">
    <h1 style="color: white;">Hello</h1>
    
    <p style="color: #bbb;">
        Вы выбрали группу: <strong style="color: #e61919;">@Model.SelectedBand</strong>
    </p>

    <a href="/RockLegendsPortal/Index" class="poll-button" style="text-decoration: none; display: inline-block; margin-top: 20px;">
        Вернуться назад
    </a>
</div>