@using WebNet23Online.Models.SlayTheSpire2
@model KickStarterViewModel
@{
    Layout = "_LayoutSLayTheSpire";
}

<div class="kickstarter-page">
    <h2 class="kickstarter-page-title">How much you wanna donate?</h2>
    <form class="kickstarter-page-form" method="post">
        @Html.TextBoxFor(x => x.DonationAmount, new { type = "number", min = "0", placeholder = "How much you wanna donate", @class = "kickstarter-page-input" })
        <button type="submit" class="kickstarter-page-submit">Что я получу? </button>
    </form>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img class="kickstarter-page-image" src="@Model.ImageUrl" alt="Reward tier" width="680" />
    }
</div>

