@font-face {
    font-family: 'MV SATURN';
    src: url('fonts/MV-SATURN.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ccc;
    font-family: 'MV SATURN', sans-serif;
}

.animes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.anime{
    background-color: aqua;
    border-radius: 10px;
}

.anime-name {
    padding: 10px;
}

.anime img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    /* margin: 10px; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}