<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Главная</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/japanese-domestic-market/jdm-style.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="logo">JDM</div>

                <nav class="navigation-menu">
                    <a class="nav-link" href="/JapaneseDomesticMarket/Home">Главная</a>
                    <a class="nav-link" href="/JapaneseDomesticMarket/Catalog">Объявления</a>
                    <a class="nav-link" href="/JapaneseDomesticMarket/Journal">Журнал</a>
                </nav>

            </div>
        </div>
    </header>
    <div class="main-content">
        <div class="container">
        </div>
    </div>
</body>

</html>