@using WebNet23Online.Models.JapaneseDomesticMarket
@model JapaneseDomesticMarketViewModels
@{
    Layout = "_LayoutJapaneseDomesticMarket";
}
<div class="feedback-container">
    <form method="post">
        <div class="title-form">Продаешь авто? Заполни поля</div>
        <div> <label>Марка</label></div>
        <div>
            @Html.TextBoxFor(x => x.ManufacturerType, new { type = "text", placeholder = "на латинице", pattern = "[A-Za-z]+" })
        </div>
        <div> <label>Модель</label></div>
        <div>
            @Html.TextBoxFor(x => x.Model, new { type = "text", placeholder = "на латинице", pattern = "[A-Za-z0-9]+" })
        </div>
        <div><label>Цена</label></div>
        <div>
            @Html.TextBoxFor(x => x.Price, new { type = "number", placeholder = "" })
        </div>
        <div class="title-form">Прикрепите фотографию</h3></div>
        <div>
            @Html.TextBoxFor(x => x.Url, new { type = "url", placeholder = "URL" })
        </div>
        <div><button type="submit" class="btn-form">Добавить</button></div>
    </form>
</div>