@{
    Layout = "_LayoutJapaneseDomesticMarket";
}
<div class="container-content">
    <article class="content-news">
        <div class="title-form">Давайте знакомиться!</div>
        <p>
            Мотивацией для создания данного интернет-портала стала моя любовь к JDM культуре и атмосфере, которая царит на авто сходках.
            <br> Как-то давно, проходя тест, я могла распознать более 180 логотипов машин. 
            <br> <i>P.S. Это навык, который пока ни разу еще не пригождался в жизни.</i>
            <div class="container-content">
                <img src="~/images/japanese-domestic-market/dynamo-photo1.jpg" class="img-content"/>
                <img src="~/images/japanese-domestic-market/drift-photo1.jpg" class="img-content" />
                <img src="~/images/japanese-domestic-market/dynamo-photo4.jpg" class="img-content" />
            </div>
        </p>
    </article>

    <article class="content-news">
        <div class="title-form">Открытие дрифт сезона 2026, Раубичи</div>
        <p class="date">19 апреля 2026</p>
        <p>
            Это было шумно! Это было дымно! Это было круто! Сезон дрифта объявляю официально открытым! Не знаю, сколько комплектов  резины ребятам пришлось сменить за все заезды,
            но то, что сегодня отлетали шины и колеса - факт!
            <br>Отлетали и бампера, и капоты… Некоторые пилоты уж слишком близко познакомились со стенами и бетонными блоками.
        </p>
        <p>
            Фотографиями всего фурора не передать, можно только пытаться. Поэтому, делюсь своими самыми любимыми фотокарточками
        </p>
        <div class="container-content">
            <img src="~/images/japanese-domestic-market/raubichi-1.JPG" class="img-content" />
            <img src="~/images/japanese-domestic-market/raubichi-2.JPG" class="img-content" />
        </div>
       
    </article>


    <article class="content-news">
        <div class="title-form">Тачки Пикник в Лиде</div>
        <p class="date">30 августа 2025</p>
        <p>
            Сотни участников и гостей собрались на территории Лидского замка, чтобы насладиться атмосферой праздника,
            <br>увидеть уникальные автомобили и обменяться опытом.
        </p>
        <a href="https://www.youtube.com/shorts/6t5NKz8a564" class="btn-watch" target="_blank"
           title="tachki-picnik-2025">Смотреть, как это было</a>
    </article>
    <div class="container-content">
        <img src="~/images/japanese-domestic-market/lida-1.jpg" class="img-content" />
        <img src="~/images/japanese-domestic-market/lida-3.jpg" class="img-content" />
        <img src="~/images/japanese-domestic-market/lida-2.jpg" class="img-content" />
    </div>
    <div class="pop-up">
        <span>&times;</span>
        <img src="~/images/japanese-domestic-market/lida-1.jpg" alt="">
        </div>
        <div>
            <a href="https://www.youtube.com/shorts/6t5NKz8a564" class="btn-watch"
               target="_blank" title="tachki-picnik-2025">Смотреть, как это было</a>
        </div>
    </article>
</div>
<script>
    document.querySelectorAll('.container-content img').forEach(img =>{
        img.onclick = () =>{
            document.querySelector('.pop-up').style.display = 'block';
            document.querySelector('.pop-up img').src = img.getAttribute('src')
        }
    });

    document.querySelector('.pop-up span').onclick = () =>{
        document.querySelector('.pop-up').style.display = 'none';
    }
</script>

</div>