<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Журнал</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/japanese-domestic-market/jdm-style.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="logo">
                    JDM
                </div>

                <nav class="navigation-menu">
                    <a class="nav-link" href="/JapaneseDomesticMarket/Home">Главная</a>
                    <a class="nav-link" href="/JapaneseDomesticMarket/Catalog">Объявления</a>
                    <a class="nav-link" href="/JapaneseDomesticMarket/Journal">Журнал</a>
                </nav>

            </div>
        </div>
    </header>

    <div class="container-content">
        <article class="content-news">
            <h2 class="text-h2">Тачки Пикник в Лиде!</h2>
            <p class="date">30 августа 2025</p>
            <p>
                Сотни участников и гостей собрались на территории Лидского замка, чтобы насладиться атмосферой праздника,
                <br>увидеть уникальные автомобили и обменяться опытом.
            </p>
                <a href="https://www.youtube.com/shorts/6t5NKz8a564" class="btn-watch" target="_blank"
                   title="tachki-picnik-2025">Смотреть, как это было</a>
        </article>

        <article class="content-news">
            <h2 class="text-h2">Дрифт по незапланированно мокрому покрытию</h2>
            <p class="date">25 мая 2025</p>
            <a href="https://youtube.com/shorts/btkMHkLOrJ8?si=9A7t5hIahdI79LLQ" class="btn-watch"
                   target="_blank" title="tachki-picnik-2025">Смотреть, как это было</a>
        </article>

    </div>
</body>

</html>