@{
    Layout = "_LayoutAnimalWorld";
}

<title>Посещение забронировано</title>

<div class="main-place">
    <div class="green-title">
        <h2>Забронировано</h2>
    </div>
    <hr class="green-line">

    <div class="animal entity-card">
        <p>Посещение зоопарка забронировано. При покупке билета используйте Имя, фамилию и номер телефона из вашей учётной записи.</p>
        <div class="button-group">
            <a href="/AnimalWorld/Zoos">Вернуться к списку зоопарков</a>
        </div>
    </div>
</div>
