@using WebNet23Online.Models.Home
@model IndexViewModel

<div>
    Hello user: @Model.UserName (@Model.RoleName)
</div>
<div class="list-of-links">
    <div>
        <a href="/AnimeGirl/Index">Anime girl</a>
    </div>
    <div>
        <a href="/Maze/Index">Maze</a>
    </div>
    <div>
        <a href="/RockLegendsPortal/Index">Rock Legends Portal</a>
    </div>
    <div>
        <a href="/AnimalWorld/Index">Animal World</a>
    </div>
    <div>
        <a href="/EventWorkshop/Index">Event Workshop</a>
    </div>
    <div>
        <a href="/RockBands/Index">Rock bands</a>
    </div>
    <div>
        <a href="/DelightBistro/Index">Delight Bistro</a>
    </div>
    <div>
        <a href="/Steam/Index">Steam</a>
    </div>
    <div>
        <a href="/LittleLemon/Index">Little Lemon Restaurant</a>
    </div>
    <div>
        <a href="/SlayTheSpire2/Index">SlayTheSpire2</a>
    </div>
    <div>
        <a href="/JapaneseDomesticMarket/Home">Japanese Domestic Market</a>
    </div>
    <div>
        <a href="/MaksKorz/Index">Maks Korz</a>
    </div>
</div>