@{
    Layout = "_LayoutCars";
}

    <link rel="stylesheet" href="/css/cars/style.css">

    <div class="info">
        Все марки машин по страннам
    </div>
    <section class="section-countries">
        <h2 class="countries">Япония</h2>
        <div class="card-grid">
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                    <img src="/images/cars/acura-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Acura</h3>
                    <div class="post-card__description">
                        Япония
                        <br>1986 - н.в.
                        <br>Люксовые
                    </div>
                </p>
            </article>
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                <img src="/images/cars/datsun-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Acura</h3>
                    <div class="post-card__description">
                        Япония    						<br>
                        1931 - 2022    						<br>
                        Массовое производство
                    </div>
                </p>
            </article>
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                    <img src="/images/cars/honda-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Datsun</h3>
                    <div class="post-card__description">
                        Япония    						<br>
                        1948 - н.в.    						<br>
                        Массовое производство
                    </div>
                </p>
            </article>
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                <img src="/images/cars/infiniti-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Honda</h3>
                    <div class="post-card__description">
                        Япония    						<br>
                        1948 - н.в.    						<br>
                        Массовое производство
                    </div>
                </p>
            </article>
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                <img src="/images/cars/lexus-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Lexus</h3>
                    <div class="post-card__description">
                        Япония    						<br>
                        1948 - н.в.    						<br>
                        Массовое производство
                    </div>
                </p>
            </article>
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                <img src="/images/cars/mazda-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Mazda</h3>
                    <div class="post-card__description">
                        Япония    						<br>
                        1948 - н.в.    						<br>
                        Массовое производство
                    </div>
                </p>
            </article>
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                <img src="/images/cars/mitsubishi-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Mitsubishi</h3>
                    <div class="post-card__description">
                        Япония    						<br>
                        1948 - н.в.    						<br>
                        Массовое производство
                    </div>
                </p>
            </article>
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                <img src="/images/cars/nissan-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Nissan</h3>
                    <div class="post-card__description">
                        Япония    						<br>
                        1948 - н.в.    						<br>
                        Массовое производство
                    </div>
                </p>
            </article>
            <article class="car_brands">
                <div class="car_brands__img-wrap">
                <img src="/images/cars/toyota-150x84.png" width="150" height="84" loading="lazy" decoding="async">
                </div>
                <p class="car_brands__caption">
                    <h3>Toyota</h3>
                    <div class="post-card__description">
                        Япония    						<br>
                        1948 - н.в.    						<br>
                        Массовое производство
                    </div>
                </p>
            </article>
        </div>
        <h2 class="countries">Америка</h2>
        <h2 class="countries">Германия</h2>
    </section>
