@using WebNet23Online.Models.LittleLemon
@model LittleLemonHeroSectionViewModel
<section class="hero-section">
    <div class="hero-container">
        <div class="hero-content">
            <h2>Little Lemon <span>Chicago</span></h2>
            <p>
                Thoughtful Mediterranean dining where heritage recipes meet
                contemporary craft.
            </p>
            <div class="hero-button">
                <a href="@Model.CallToActionHref" class="btn">@Model.CallToActionText</a>
            </div>
        </div>
        <div class="hero-img-container">
            <img src="@Model.HeroImageUrl" alt="@Model.HeroImageAlt" class="img" width="375" height="355" />
        </div>
    </div>
</section>
