<link rel="stylesheet" href="style.css" />
<div class="header">
    <div class="page-title">
        <h1>Любительский досуг!</h1>
    </div>
    <div class="page-description">
        <p>Здесь размещаются любительские события в которых каждый может принять участие.</p>
    </div>
</div>
<div class="hobbys">
    <div class="hobby">
        <div class="event-info-container">
            <div class="image-container">
                <img src="images/hobby/hobby1.jpg" />
                <h3>Музыкальная импровизация</h3>
            </div>
            <div class="description-container">
                <p>Импровизация любителей музыки! Создайте шедевр со случайными людьми.</p>
            </div>
        </div>
        <div class="datetime-container">
            <div class="date-container">
                29 JAN
            </div>
            <div class="year-container">
                2025
            </div>
            <div class="time-container">
                22:00
            </div>
        </div>
    </div>
    <div class="hobby">
        <div class="event-info-container">
            <div class="image-container">
                <img src="images/hobby/hobby2.jpg" />
                <h3>Чайная церемония</h3>
            </div>
            <div class="description-container">
                <p>Примите участие в чайной церемонии! Знакомства, дружеское общение и многое другое.</p>
            </div>
        </div>
        <div class="datetime-container">
            <div class="date-container">
                29 JAN
            </div>
            <div class="year-container">
                2025
            </div>
            <div class="time-container">
                22:00
            </div>
        </div>
    </div>
    <div class="hobby">
        <div class="event-info-container">
            <div class="image-container">
                <img src="images/hobby/hobby3.jpg">
                <h3>Книжные дебаты</h3>
            </div>
            <div class="description-container">
                <p>Читаем, обсуждаем, спорим в поисках истины. Приглашаются все желающие!</p>
            </div>
        </div>
        <div class="datetime-container">
            <div class="date-container">
                29 JAN
            </div>
            <div class="year-container">
                2025
            </div>
            <div class="time-container">
                22:00
            </div>
        </div>
    </div>
</div>
</div>
<div class="sports">
Здесь будет спортивный досуг
</div>
<div class="games">
Здесь будут игры
</div>
<div class="activity-submit">
<form class="activity-submit-form">
    <h2>Отправь запрос на создание досуга!</h2>
    <div class="activity-submit-datetime">
        <p>Дата и время мероприятия<p>
            <input class="activity-submit-date" type="date">
            <input class="activity-submit-time" type="time">
        </div>
        <div>
            <div>
                Выберите категорию
            </div>
            <label>
                hobbys
                <input type="radio" name="category" value="hobbys">
            </label>
            <label>
                sports
                <input type="radio" name="category" value="sports">
            </label>
            <label>
                games
                <input type="radio" name="category" value="games">
            </label>
        </div>
        <div>
            <div>
                Укажите плюшки!
            </div>
            <label>
                Еда
                <input type="checkbox" name="features" value="hobbys">
            </label>
            <label>
                Инвентарь
                <input type="checkbox" name="features" value="sports">
            </label>
            <label>
                Новчикам рады!
                <input type="checkbox" name="features" value="games">
            </label>
        </div>
        <div>
            <div>
                <input class="activity-submit-name" type="text" placeholder="Наименование" maxlength="30">
            </div>
            <div>
                <textarea class="activity-submit-description" name="activity-submit-description" rows="10" cols="50" placeholder="Опишите событие"></textarea>
            </div>
        </div>
    </form>
</div>