@using WebNet23Online.Models.Maks_Korz
@model DataUser
<link rel="stylesheet" href="/css/Korz/site.css">
<head>
    <title>HTML Login Form</title>
</head>
    <div class="main">
        <h1>Authorization</h1>
        <h3>Enter your login credentials</h3>
        @* <input name="widthOLD" type="number" placeholder="width" /> *@
        <form method="post">
            <label>
                Username:
            </label>
            <input type="text" name="LastName"
                   placeholder="Enter your Username" required>
            <label>
                Age:
            </label>
            <input type="number" name="Age"
                   placeholder="Enter your Age" required>
            <label>
                Country:
            </label>
            <input type="text" name="Country"
                   placeholder="Enter your Country" required>
            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>