@{
    Layout = "_LayoutAnimalWorld";
}

<title>Добавление данных</title>

<div class="main-place">
    <div class="green-title">
        <h2>Добавление данных о животных</h2>
    </div>
    <hr class="green-line">
    <p>Выберите, какую информацию хотите добавить:</p>
    <div class="add-links-grid">
        <div>
            <a class="find-animal-button add-link-button" href="/AnimalWorld/AddZoo">Добавить зоопарк</a>
        </div>
        <div>
            <a class="find-animal-button add-link-button" href="/AnimalWorld/AddFamily">Добавить род животных</a>
        </div>
        <div>
            <a class="find-animal-button add-link-button" href="/AnimalWorld/AddSpecies">Добавить вид животных</a>
        </div>
        <div>
            <a class="find-animal-button add-link-button" href="/AnimalWorld/BindZooAndAnimalSpecies">Настроить связи между зоопарками и видами животных</a>
        </div>
    </div>
</div>
