@model WebNet23Online.Models.AnimalWorld.StartPageBeastViewModel
<div class="find-animal">
    <form class="find-animal-form" method="post" asp-action="AnimalSearch" data-ajax="true" data-ajax-update="#search-result-container" data-ajax-mode="replace"">
        @Html.TextBoxFor(animal => animal.BeastName, new { @class = "form-input", type = "text", placeholder = "Напишите название..." })
        <button class="find-animal-button" type="submit">Отправить</button>
        @if (Model != null && !string.IsNullOrEmpty(Model.BriefDescription))
        {
            <div class="animal">
                <p>@Model.BriefDescription</p>
            </div>
        }
    </form>
</div>