@model WebNet23Online.Models.AnimalWorld.BindZooWithAnimalSpeciesViewModel
@{
    Layout = "_LayoutAnimalWorld";
}

<title>Связи между зоопарками и видами животных</title>

<div class="main-place">
    <div class="green-title">
        <h2>Настрока связи между зоопарками и видами животных</h2>
    </div>
    <hr class="green-line">
    <p>Сначала выберите зоопарк, затем один или несколько родов животных.</p>
    <form method="post">
        <div class="form-group">
            <div class="green-title">
                <h6>Зоопарк</h6>
            </div>
            @Html.DropDownListFor(zoo => zoo.ZooName, Model.Zoos, "Выберите зоопарк", new { @class = "form-input" })
        </div>

        <div class="form-group">
            <div class="green-title">
                <h6>Роды животных</h6>
            </div>
            @Html.ListBoxFor(binding => binding.AnimalSpecies, Model.AnimalSpecies, new { @class = "form-input multi-select-input" })
        </div>

        <div class="button-group">
            <button class="find-animal-button" type="submit">Сохранить связи</button>
        </div>
    </form>
</div>
