@using WebNet23Online.Models.HabitTracker
@model HabitViewModel
@{
    Layout = "_LayoutHabitTracker";
}

<link rel="stylesheet"href="/css/habit-tracker/createHabit.css">

<div class="habit-form-card">
    <h2>Новая привычка</h2>
            
    <form method="post">
        <div class="form-group">
            <label>Название</label>
            @Html.TextBoxFor(x => x.Title, new { 
                @class = "input-field", 
                placeholder = "Например: Йога 15 мин" 
            })
        </div>

        <button type="submit" class="btn-submit">Создать привычку</button>
    </form>

    <a href="/HabitTracker/Index" class="back-link">Вернуться к списку</a>
</div> 