@model WebNet23Online.Models.HabitTracker.HabitTrackerViewModel
@{
    Layout = "_LayoutHabitTracker";
}

<link rel="stylesheet" href="/css/habit-tracker/main.css">


<div class="tracker">
    <div class="tracker-title">Трекер задач на неделю</div>
    <div class="tracker-date">Сегодня - </div>
    
    <div class="table-tracker">
      <div class="tracker-header">
        <div class="habit-label-cell"></div>
        <div class="day-cell">Пн</div>
        <div class="day-cell">Вт</div>
        <div class="day-cell">Ср</div>
        <div class="day-cell">Чт</div>
        <div class="day-cell">Пт</div>
        <div class="day-cell">Сб</div>
        <div class="day-cell">Вс</div>
      </div>

      @for(int i = 0; i < Model.Habits.Count; i++)
      {
        var habit = Model.Habits[i];
        <div class="tracker-row">
          <div class="habit-name">@habit.Title</div>
          @for(var d = 0; d < 7; d++)
          {
            <div class="dot-cell">
              <span class="dot color-@(i % 4) @(habit.WeekResults[d] ? "active" : "")" 
                    data-habit-id="@habit.Id" 
                    data-day-index="@d">
              </span>
            </div>
          }
        </div>
      }
    </div>
</div>

@section Scripts {
    <script src="/js/habit-tracker/main.js"></script>
}

