<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>@ViewData["Title"] - WebNet23Online</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebNet23Online.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="/css/habit-tracker/main.css">
</head>

<body>
    <header>
        <div class="header-content">
            <div class="header-left">
                <div class="logo"><h1>Habit-tracker</h1></div>
                <div class="tagline">Начни сегодня</div>
            </div>
            <img class="ava" src="/images/habit-tracker/avatarka.jpg">
        </div>
    </header>

    <div class="main-content">
        <nav>
            <ul>
                <li><a asp-controller="HabitTracker" asp-action="Index">Трекер задач</a></li>
                <li><a asp-controller="HabitTracker" asp-action="Statistics">Статистика</a></li>
                <li><a asp-controller="HabitTracker" asp-action="Diary">Дневник</a></li>
                <li><a href="#">Добавить привычку</a></li>
                <li><a href="#">Настройки</a></li>
            </ul>
        </nav>

        @RenderBody()

    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>