@using WebNet23Online.Models.Maze
@model BuilderViewModel

<link rel="stylesheet" href="/css/maze/maze.css">

<h2>Создание лабиринта</h2>
<div>
    <form method="post">
        @* <input name="widthOLD" type="number" placeholder="width" /> *@
        @Html.TextBoxFor(x => x.Width, new { type = "number", placeholder = "width" })
        @Html.TextBoxFor(x => x.Height, new { type = "number", placeholder = "height" })
        @Html.TextBoxFor(x => x.Seed, new { type = "number", placeholder = "seed" })
        <button type="submit">Создай</button>
    </form>
</div>