@using WebNet23Online.Models.Maze
@model MazeViewModel

<link rel="stylesheet" href="/css/maze/maze.css">

<div class="maze">
    @foreach(var row in Model.Rows)
    {
        <div class="maze-row">
            @foreach (var cell in row)
            {
                <span 
                    class="maze-cell @(cell.IsHero ? "hero" : "")" 
                    data-x="@cell.X"
                    data-y="@cell.Y"
                >@cell.Symbol</span>
            }
        </div>
    }
</div>

<div>
    <a href="/Maze/MoveRight">Go Right</a>

    <a href="/Maze/RebuildMaze">Rebuild Maze</a>

    <a href="/Maze/Builder">Custom Build Maze</a>
</div>