@using WebNet23Online.Models.DelightBistro;

@{
    Layout = "_LayoutimagesDelightBistro";
}
@model CreateMenuViewModel

<link rel="stylesheet" href="\css\delight-bistro\style.css" />

<form method="post">
    <div>
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Name" })
    </div>
    
    <div>
        <button type="submit">Save</button>
    </div>
</form>

</div>