@using WebNet23Online.Models.DelightBistro;

@{
    Layout = "_LayoutimagesDelightBistro";
}
@model IngredientViewModel

<link rel="stylesheet" href="\css\delight-bistro\style.css" />
<div class="create-food-box">
    <div class="form-title">Введите имя для ингредиента</div>
    <form method="post">
        <div class="input-box">
            @Html.TextBoxFor(x => x.Name, new { type = "text", required = "required", placeholder = "Name" })
        </div>

        <div class="food-create-button">
            <button type="submit">Save</button>
        </div>
    </form>
</div>

