@{
    Layout = "_LayoutimagesDelightBistro";
}

@* <link rel="stylesheet" href="\css\delight-bistro\style.css" />
 *@

<header class="head-menu">
    <div class="logo-container">
        <div class="logo">
            <img src="/images/delight-bistro/logo.png" alt="logo" />
        </div>
        <div class="logo-name">Logo name</div>
    </div>
    <div class="main-info center">
        <div class="head-menu-item">Info</div>
        <div class="head-menu-item">Head menu</div>
    </div>
</header>

<h1 class="center">Кухня</h1>

<div class="layout">
    <div class="plate">
        <div class="type-of-food">
            <div class="type-name center">Супы</div>
            <div class="menu">
                <div class="food-item">
                    <div class="image-container">
                        <img src="/images/delight-bistro/TomYumTalay.jpg" alt="Tom Yum Talay" />
                    </div>
                    <div class="name-price-btn">
                        <div class="name-price">
                            <div class="food-name">Tom Yum Talay</div>
                            <div class="price">20 р</div>
                        </div>
                        <div class="btnright">
                            <button class="add-button colorbtn">+</button>
                        </div>
                    </div>
                    <div class="recept">
                        <ul>
                            <li>Креветки</li>
                            <li>Шампиньоны</li>
                            <li>Лайм</li>
                            <li>Паста</li>
                            <li>Помидоры</li>
                            <li>Перец чили</li>
                        </ul>
                    </div>
                </div>

                <div class="food-item">
                    <div class="image-container">
                        <img src="\images\delight-bistro\LentilSoup.jpg" alt="Lentil Soup" />
                    </div>
                    <div class="name-price-btn">
                        <div class="name-price">
                            <div class="food-name">Lentil Soup</div>
                            <div class="price">15 р</div>
                        </div>
                        <div class="btnright">
                            <button class="add-button colorbtn">+</button>
                        </div>
                    </div>
                    <div class="recept">
                        <ul>
                            <li>Говядина</li>
                            <li>Чечевица красная</li>
                            <li>Картофель</li>
                            <li>Лук репчатый</li>
                            <li>Помидоры</li>
                            <li>Морковь</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="type-of-food">
            <div class="type-name center">Горячее</div>
            <div class="menu">
                <div class="food-item">
                    <div class="image-container">
                        <img src="/images/delight-bistro/Steak2.jpg" alt="Steak2" />
                    </div>
                    <div class="name-price-btn">
                        <div class="name-price">
                            <div class="food-name">Стейк с пастой</div>
                            <div class="price">30 р</div>
                        </div>
                        <div class="btnright">
                            <button class="add-button colorbtn">+</button>
                        </div>
                    </div>
                    <div class="recept">
                        <ul>
                            <li>Говяжий стейк</li>
                            <li>Паста</li>
                            <li>Сливочно‑перечный соус</li>
                            <li>Зелень</li>
                        </ul>
                    </div>
                </div>

                <div class="food-item">
                    <div class="image-container">
                        <img src="/images/delight-bistro/Lasana.jpg" alt="Lasana" />
                    </div>
                    <div class="name-price-btn">
                        <div class="name-price">
                            <div class="food-name">Лазанья</div>
                            <div class="price">30 р</div>
                        </div>
                        <div class="btnright">
                            <button class="add-button colorbtn">+</button>
                        </div>
                    </div>
                    <div class="recept">
                        <ul>
                            <li>Паста Лазанья</li>
                            <li>Фарш говяжий</li>
                            <li>Соус бешамель</li>
                            <li>Сыр пармезан</li>
                            <li>Помидоры</li>
                            <li>Зелень</li>
                        </ul>
                    </div>
                </div>

                <div class="food-item">
                    <div class="image-container">
                        <img src="/images/delight-bistro/CrispySesameChicken.jpg"
                             alt="CrispySesameChicken" />
                    </div>

                    <div class="name-price-btn">
                        <div class="name-price">
                            <div class="food-name">Хрустящая курица с кунжутом</div>
                            <div class="price">25 р</div>
                        </div>
                        <div class="btnright">
                            <button class="add-button colorbtn">+</button>
                        </div>
                    </div>

                    <div class="recept">
                        <ul>
                            <li>Курица</li>
                            <li>Семена кунжута</li>
                            <li>Мед</li>
                            <li>Рис</li>
                            <li>Лук репчатый</li>
                            <li>Чесночная паста</li>
                            <li>Белый перец</li>
                        </ul>
                    </div>
                </div>

                <div class="food-item">
                    <div class="image-container">
                        <img src="\images\delight-bistro\ChilliGarlicPrawnPasta.jpg"
                             alt="Chilli Garlic Prawn Pasta" />
                    </div>
                    <div class="name-price-btn">
                        <div class="name-price">
                            <div class="food-name">
                                Паста с креветками, чесноком и чили
                            </div>
                            <div class="price">25 р</div>
                        </div>
                        <div class="btnright">
                            <button class="add-button colorbtn">+</button>
                        </div>
                    </div>
                    <div class="recept">
                        <ul>
                            <li>Креветки</li>
                            <li>Лингвини</li>
                            <li>Помидоры черри</li>
                            <li>Хлопья чили</li>
                            <li>Зелень</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="type-of-food">
            <div class="type-name center">Салаты</div>
            <div class="menu">
                <div class="food-item">
                    <div class="image-container">
                        <img src="\images\delight-bistro\CesarSalad.jpg" alt="CesarSalad" />
                    </div>

                    <div class="name-price-btn">
                        <div class="name-price">
                            <div class="food-name">Салат Цезарь</div>
                            <div class="price">20 р</div>
                        </div>
                        <div class="btnright">
                            <button class="add-button colorbtn">+</button>
                        </div>
                    </div>

                    <div class="recept">
                        <ul>
                            <li>Римский салат</li>
                            <li>Сухарики</li>
                            <li>Пармезан</li>
                            <li>Черный молотый перец</li>
                            <li>Курица</li>
                            <li>Морковь</li>
                        </ul>
                    </div>
                </div>
                <div class="food-item">
                    <div class="image-container">
                        <img src="/images/delight-bistro/Salad2.jpg" alt="Salad2" />
                    </div>

                    <div class="name-price-btn">
                        <div class="name-price">
                            <div class="food-name">Салат средиземноморский</div>
                            <div class="price">25 р</div>
                        </div>
                        <div class="btnright">
                            <button class="add-button colorbtn">+</button>
                        </div>
                    </div>

                    <div class="recept">
                        <ul>
                            <li>Микс салатов</li>
                            <li>Помидоры черри</li>
                            <li>Черные оливки</li>
                            <li>Сыр</li>
                            <li>Черный молотый перец</li>
                            <li>Оливковое масло</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="right-bar">
        <div class="form-field">
            <form action="">
                <div class="username">Username</div>
                <input type="text"
                       name="username"
                       placeholder="Введите логин"
                       required />

                <div>Password</div>
                <input type="password"
                       name="password"
                       placeholder="Введите пароль"
                       required />
                <button type="submit">Войти</button>
            </form>
        </div>

        <ul class="navigation">
            <li>Супы</li>
            <li>Горячее</li>
            <li>Салаты</li>
        </ul>
    </aside>
</div>

